@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsla(217, 19%, 38%, 0.4);
    --dark-grayish-blue: hsl(220, 22%, 16%);
}
